{% extends "base.html" %}
{% block title %}
<title>Incio huerto</title>
<link
href="{{ url_for('static', filename='css/datos_flotantes_style.css') }}"
rel="stylesheet"
/>
<link href="{{ url_for('static', filename='css/huerto_virtual_style.css') }}"
rel="stylesheet">
{% endblock %} 

{% block content %} 

<!-- Estadisticas flotantes -->
<h1 class="text-white text-center">Datos de Riego del Huerto</h1>
<div class="ticker-container">
    <div class="ticker text-white">
      {% for nombre, valor in estadisticas.items() %}
        <span class="ticker-item">{{ nombre }}: {{ valor }}</span>
      {% endfor %}
    </div>
  </div>

  <!-- Huerto virtual -->
  <h1 class="text-white">Mi Huerto Virtual</h1>
  <div class="garden-grid">
      {% for i in range(plantas.filas)%}
        {% for j in range(plantas.columnas)%}
          <div class="plant-tile">
              <div class="plant-info">
                  <strong>{{ plantas[i, j].tipo }}</strong><br>
                  <strong>{{ plantas[i, j]['requerimientos']['humedad'] }}</strong><br>
                  <strong>{{ plantas[i, j]['requerimientos']['temperatura'] }}</strong><br>
            </div>
          </div>
        <br>
       {% endfor %}
      {% endfor %}
  </div>

  <div class="container-fluid mt-5 text-white">
    <div class="row">
      <div class="col text-center">
        <img src="{{ url_for('static', filename='imgs/grafo_cultivos.png') }}" alt="Grafo fallido" height="700">
      </div>
      <div class="col">
        <h1>Grafo de los cultivos (Total cultivos: {{plantas.filas*plantas.columnas}}):</h1>
        <h3 class="text-center">Distancias:</h3>
        <table class="table table-striped table-bordered">
          <!-- Cabecera de la tabla -->
          <thead>
            <tr>
              {% for i in range(plantas.columnas) %}
                <th>Dist.Seccion{{i+1}}:</th>
                <th>Enf.Seccion{{i+1}}:</th>
              {% endfor %}
            </tr>
          </thead>
          <!-- Cuerpo de la tabla con los datos -->
          <tbody>
            {% for i in range(plantas.filas) %}
            <tr>
              {% for j in range(plantas.columnas) %}
              <td>Distancia: X</td>
              <td>Tipo enfermedad</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>        
      </div>
    </div>
  </div>

{% endblock %}